html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  pdding: 0;
  height: 100%;
}

/*============= HOME MENU ===============*/

.home-menu-item{
  text-decoration: none;
  text-tranform: uppercase;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: centre;
  border: 5px solid black;

  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 10px;
  
}
