.home-menu-item{
  text-decoration: none;
  text-tranform: uppercase;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: centre;
  border: 5px solid black;

  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 10px;
  
}
